.dish_container {
    display: flex;
}
.dish_image_container {
    width: 40%;
    margin-right: 20px;
}
.dish_content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.dish_image {
    width: 100%;
    height: 100%;
    max-height: 150px;
    border-radius: 10px;
}
.dish_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #334155;
    margin-bottom: 5px;
}
.dish_price {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
    color: #334155;
}
.dish_rating {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #334155;
    margin-bottom: 10px;
}
.dish_add_button {
    background-color: white;
    outline: none;
    border: 2px solid #FFA412;
    color: #FFA412;
    border-radius: 5px;
    padding: 5px 10px;
}
.qty_div {
    display: flex;
    align-items: center;
}
.desc_qty, .inc_qty {
    padding: 5px 10px;
    margin-right: 15px;
    font-size: 20px;
    padding: 0px 7px;
}
.dish_qty {
    margin-right: 15px;
    font-size: 20px;
    margin-bottom: 0;
}