.restaurant {
    display: flex;
    width: 100%;
}
.restaurant_image_div {
    width: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}
.restaurant_image {
    width: 100%;
    height: 110px;
    max-width: 200px;
    border-radius: 10px;
}
.restaurant_content_div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.restaurant_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #334155;
}
.restaurant_food_type {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #334155;
}