.cart_container {
    padding: 20px 100px;
}
.cart_headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.cart_heading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #475569;
}
.cart_heading_qty {
    position: relative;
    left: 115px;
}
.cart_order_total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.place_order_div {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.place_order_button {
    outline: none;
    border: 0;
    padding: 8px 16px;
    background-color: #F7931E;
    border-radius: 8px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 768px) {
    .cart_container {
        padding: 20px;
    }
    .cart_headers {
        display: none;
    }
    .cart_item_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
.cart_empty {
    width: 100%;
    height: 100px;
    text-align: center;
}