.home_restaurants_container {
    padding: 0px 70px;
    margin-bottom: 50px;
}
.restauarnt_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
}
.popular_restaurant {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #183B56;
    margin-bottom: 10px;
}
.restaurant_desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #183B56;
    margin-right: 50px;
}
.sorting_list {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #475569;
    outline: none;
    border: 0;
    border-radius: 5px;
}

.sorting_option {
    padding: 5px 10px;
}

.restaurants_list_container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    grid-row-gap: 35px;
}



.pagination_div {
    display: flex;
    margin: auto;
    width: max-content;
    margin-top: 30px;
    align-items: center;

}
.pagination_left_button {
    margin-right: 20px;
    font-size: 30px;
    padding: 0;
}
.pagination_right_button {
    margin-left: 20px;
    font-size: 30px;
    padding: 0;
}
.spinner {
    width: 100%;
    display:flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.spinner-border {
    width: 80px;
    height: 80px;
}
.pages {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .home_restaurants_container {
        padding: 0px 20px;
    }
    .restauarnt_info {
        flex-direction: column;
        align-items: flex-start;
    }
    .home_text {
        margin-bottom: 25px;
    }
    .restaurants_list_container {
        display: flex;
        flex-direction: column;
    }
    .restaurant_image_div {
        width: 30%;
        margin-right: 30px;
    }
}