.restaurant_banner {
    background-color: #333333;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.restaurant_banner_left {
    margin-right: 30px;
    width: 40%;
}
.banner_image {
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 400px;
}
.restaurant_banner_right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.restaurant_title_info {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: white;
    margin-bottom: 10px;
}
.food_type_info {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 5px;
    color: white;
}
.restaurant_location {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 10px;
    color: white;
}

.rating_info {
    display: flex;
    color: white;
}
.rating_info_left {
    padding-right: 20px;
}
.rating_info_right {
    padding-left: 20px;
    border-left: 1px solid white;
}
.dishes_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 50px 100px;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}

@media screen and (max-width: 768px) {
    .restaurant_banner {
        padding: 20px;
    }
    .banner_image {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        position: absolute;
        width: 50%;
        min-width: 210px;
        max-width: 350px;
        height: 100%;
        top: -20px;
        left: -60px;
    }
    .dishes_list {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
}
