.carousal_container {
    width: 100%;
    padding: 0px 100px;
    margin-bottom: 50px;
}
.banners {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.carousal {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.image_container {
    border-radius: 10px;
    width: 100%;
    flex-shrink: 0;
    background-color: gray;
}

@media screen and (max-width: 768px) {
    .carousal_container {
        padding: 0px;
        margin-bottom: 20px;
    }
    .banners {
        border-radius: 0;
    }
}