.footer {
    background-color: #0F172A;
    padding: 60px 20px;
}

.footer_brand_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.footer_brand_logo {
    margin-right: 20px;
}
.footer_brand_title {
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    color: white;
}
.footer_text_div {
    text-align: center;
}
.footer_text {
    color: white;
    margin-top: 25px;
    margin-bottom: 40px;
}
.social_media_links > ul {
    display: flex;
}
.icons {
    font-size: 35px;
    color: white;
    margin-right: 20px;
}

.social_media_links {
    display: flex;
    justify-content: center;
}